* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html{
  font-size: 16px;
  box-sizing: border-box;
}

header{
  background-color: #afb281;
  padding: 10px;
}

.header__col {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

main {
  margin: 0 auto;
  max-width: 1200px;
}

h1 {
  text-align: center;
  font-family: 'Oswald', Verdana, serif;
  font-size: 36px;
}

h2 {
  font-family: 'Oswald', Verdana, serif;
}

h3 {
  font-family: 'Oswald', Verdana, serif;
}

footer {
  background-color: #cc9694;
  font-family: 'Open sans', helvetica, arial, sans-serif;
}

p {
  font-family: 'Open sans', helvetica, arial, sans-serif;
  font-size: 12px;
}

.footer__row {
  margin: 0 auto;
  max-width: 1200px;
}

.button{
  background-color: #cc9694;
  width: 15%;
  padding: 5px;
  margin-bottom: 20px;
}

.image {
  max-width: 170px;
  max-height: 170px;
}

.tags {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  font-family: 'Open sans', helvetica, arial, sans-serif;
  font-variant: small-caps;
}

.tags li {
  padding: 0 10px;
}

li {
    list-style: none;
}

.tags a {
  text-decoration: none;
}

.tags__cart {
  position: absolute;
  right: 0;
}

.cart__row {
  display: flex;
  margin-bottom:20px;
}

.cart__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}

.card__row {
  display: flex;
  justify-content: center;
}

.card__col {
  padding: 20px;
}

.cart__button {
  border-radius: 2px;
  padding: 5px;
  font-family: 'Open sans', helvetica, arial, sans-serif;
}

.button__container {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.button__icon {
  width: 10px;
}

.footer__col {
  display: flex;
  justify-content: space-around;
}

.trademark {
  display: flex;
  justify-content: center;
}

.footer__content {
  text-decoration: none;
  font-family: 'Open sans', helvetica, arial, sans-serif;
}

.name {
  padding: 10px;
  font-family: 'Open sans', helvetica, arial, sans-serif;
}

.address {
  padding: 10px;
  font-family: 'Open sans', helvetica, arial, sans-serif;
}

.postnr {
  padding: 10px;
  font-family: 'Open sans', helvetica, arial, sans-serif;
}

.cardnr{
  padding: 10px;
  font-family: 'Open sans', helvetica, arial, sans-serif;
}

.cardid{
  padding: 10px;
  font-family: 'Open sans', helvetica, arial, sans-serif;
}

.valid{
  padding: 10px;
  font-family: 'Open sans', helvetica, arial, sans-serif;
}

@media (min-width: 500px) AND (max-width: 800px) {
  .card__row {
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .card__row {
    flex-direction: column;
  }

  .tags__cart {
    position: inherit;
  }
}
