* {
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  max-width: 1200px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html{
  font-size: 16px;
  box-sizing: border-box;
}

header{
  background-color: #afb281;
  padding: 10px;
}

.header__col {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

main {
  margin: 0 auto;
  max-width: 1200px;
}

h1 {
  text-align: center;
  font-family: 'Oswald', Verdana, serif;
  font-size: 36px;
}

h2 {
  font-family: 'Oswald', Verdana, serif;
}

h3 {
  font-family: 'Oswald', Verdana, serif;
}

footer {
  background-color: #cc9694;
  font-family: 'Open sans', helvetica, arial, sans-serif;
}

p {
  font-family: 'Open sans', helvetica, arial, sans-serif;
}

.footer__row {
  margin: 0 auto;
  max-width: 1200px;
}

.links {
  color: #000000;
  }

  .links:hover{
    color:white;
    }

.tags li a.current {
  text-decoration: underline;
  }

  .button__buy {
    background-color:#cc9694;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .button__buy:hover {
    background-color: black;
    color: #cc9694;
  }

.index__button {
  background-color:#cc9694;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.index__button:hover {
  background-color:#000000;
  color: #cc9694;
}

.indexcontainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200;
  margin-top: 30px;
}

.index__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 50px;
  width: 100%;
  max-width: 1200px;
}

.index__info {
  width: 100%;
  max-width: 590px;
  line-height: 50px;
}

.index__image {
  width: 100%;
  max-width: 590px;
  max-height: 350px;
}

.image {
  max-width: 170px;
  max-height: 170px;
}

.tags {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  font-family: 'Open sans', helvetica, arial, sans-serif;
  font-variant: small-caps;
}

.tags li {
  padding: 0 10px;
}

li {
    list-style: none;
}

.tags a {
  text-decoration: none;
}

.tags__cart {
  position: absolute;
  right: 0;
}

.cart__row {
  display: flex;
  margin-bottom:20px;
}

.cart__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}

.card__row {
  display: flex;
  justify-content: center;
}

.card__col {
  padding: 20px;
}

input {
  padding: 6px;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 12px;
  line-height: 20px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.cart__button {
  background-color: white;
  border: 1px solid #000000;
  border-radius: 5px;
  color: black;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-family: 'Open sans', helvetica, arial, sans-serif;
}

.cart__button:hover {
  background-color: #cc9694;
}

.button__container {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.button__icon {
  width: 10px;
}

.footer__col {
  display: flex;
  justify-content: space-around;
}

.trademark {
  display: flex;
  justify-content: center;
}

.footer__content {
  text-decoration: none;
  font-family: 'Open sans', helvetica, arial, sans-serif;
}

.grid__row {
  margin-top: 20px;
  margin-bottom: 20px;
}


.name__info {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 10px;
  font-family: 'Open sans', helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 3;
  max-width: 300px;
}

.name__stock {
  width: 100%;
  padding: 15px;
}

.name__fill {
  max-width: 50%;
}

.card__col input[type="text"] {
  width:150px;
}

.card__col input[type="number"] {
  width:150px;
}

.card__col input[type="tel"] {
  width:150px;
}

.name__info select {
  width:150px;
}

.card__info {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 10px;
  font-family: 'Open sans', helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 3;
  max-width: 300px;
}

.card__stock {
  width: 100%;
  padding: 15px;
}

.card__fill {
  max-width: 50%;
}

.staff {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200;
  margin-top: 50px;
}

.staffcontainer {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
  width: 100%;
  max-width: 590px;

  position: relative;
  z-index: 1;
}

.staffcard  {
  transform-style: preserve-3d;
  transition: all 0.300s linear;
}

.staffcard:hover {
  transform: rotateY(180deg);
}

.face {
  backface-visibility: hidden;
}

.face.back {
  transform: rotateY(180deg);
  background-color: white;
}

.um__staff {
  position: absolute;
  top: 40%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.staff__img {
  max-width: 100%;
}

@media screen and (min-width: 501px) and (max-width: 800px) {

  .staffcard {
      max-width: 370px;
      padding-left: 10px;
      padding-right: 10px;
  }

  .staffcontainer {
    max-width: 390px;
  }

  .index__card {
    max-width: 780px;
    padding-left: 20px;
  }

  .index__image {
    max-width: 48.5%;
  }

  .index__info {
    max-width: 48.5%;
  }

  .grid__row {
    max-width: 780px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 500px) {

  .staffcontainer {
    max-width: 490px;
    }
    
  .staffcard {
      padding-left: 10px;
      padding-right: 10px;
  }

  .indexcontainer {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .index__card {
    max-width: 480px;
    flex-direction: column;
    padding-left: 20px;
    margin-bottom: 0px;
  }

  .index__info {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .index__image {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .grid__row {
    max-width: 480px;
    padding-left: 20px;
  }

  .cart__row {
    flex-direction: column;
    margin-top: 20px;
  }

  .cart__row .image {
    max-width: 480px;
    max-height: none;
  }

.card__row {
  flex-direction: column;
  margin-top: 20px;
  }

  .cart__info {
    margin-top: 20px;
    padding: 0px;
    }

.tags__cart {
  position: inherit;
  }

}

.products {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200;
  margin-top: 50px;
  margin-bottom: 0px;
  align-content: stretch;
  text-align: start;
  line-height: 30px;
  
 
}

.product__container 
{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 32%;
  height: 100%;
  justify-content: space-between;
  
  
}

.product__img__img {
  width: 100%;
  height: 100%;
 }
 
 @media  screen and (width: 800px) {
  .product__container 
{
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  
}
}

  @media  screen and (min-width: 500px) {
    .product__container 
  {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }
}
